 <!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container t">
        <div class="row">
            <div class="col-6 "> <a class="Pay-Api" href="#">
                <img width="90px" height="40px" src="https://payapi-multi-page-website.vercel.app/assets/shared/desktop/logo.svg" alt="" width="30" height="24">
              </a></div>
            <div class="col"><img src="https://cdn.pixabay.com/photo/2017/11/10/05/04/facebook-2935402__340.png" class="img-fluid" alt="..."></div> 
            <div class="col"></div>
            <div class="col">col</div>
          </div>
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer> -->



<footer class="footer bg-dark  mt-auto">
  <div class="container bg-dark pt-4">
      <div class="row ">
          <div class="col-4 "> 
            <a class="Pay-Api" href="/">
              <img width="90px" height="40px" src="https://payapi-multi-page-website.vercel.app/assets/shared/desktop/logo.svg" alt="" width="30" height="24" class="bg-light border rounded-3">
            </a></div>


          
          <div class=" col-2 ctr">
            <i class="icon-cog fa-2x fa-brands fa-facebook-square" style="color:white"></i>
          </div>
          <div class=" col-2 ctr">
            <i class="icon-cog fa-2x fa-brands fa-twitter" style="color:white"></i>
          </div>
          <div class=" col-2 ctr">
            <i class="icon-cog fa-2x fa-brands fa-instagram" style="color:white"></i>
          </div>
          <div class=" col-2 ctr">
            <i class="icon-cog fa-2x fa-brands fa-linkedin" style="color:white"></i>
          </div>
        
      <span class="text-muted text-success">&copy; PAYapi 2020</span>
  </div>
</footer>
