<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="/">Home</a>
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
          
        </div>
      </div>
    </div>
  </nav>

 -->

  
 
    <nav class="navbar navbar-expand-lg bg-light body">
        <nav class="navbar bgno mx-3">
        <!-- <nav class="navbar bg-light border rounded-3 mx-3"> -->
            <div class="container ">
              <a class="Pay-Api" href="/">
                <img width="auto" height="40px" src="https://payapi-multi-page-website.vercel.app/assets/shared/desktop/logo.svg" alt="" width="30" height="24" >
              </a>
            </div>
          </nav>
        <div class="container-fluid body">
            <button class="navbar-toggler mt-3 mb-3 mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="navbar-brand fw-bolder" href="/pricing">Pricing</a>
              <li class="nav-item">
                <a class="nav-link navbar-brand fw-bolder"  href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-brand fw-bolder" href="/contact">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-brand fw-bolder" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu bgno" aria-labelledby="navbarDropdown" >
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
           
              <button class="btn btn-outline-primary btn-lg rounded-5 fw-bolder" style="margin-right: 3em;" type="button">Schedule a Demo</button>

           
          </div>
        </div>
      </nav>
    