<% layout('layouts/boilerplate')%>


<div class="container ctr">
  <div class="row">
    <div class="col">
      <h3 class="para fw-bolder ctr">We empower innovators by delivering access to the financial system</h3>
    </div>
</div>
</div>





<div class="container my-3 py-3">
    <div class="row g-0 ctr py-1 my-3 ">
     <div class="col-4 col-md-4 col-sm-4 para opacity-50 ctr">Our Vision</div>
      <div class="col-sm-6 col-md-8 fs-5 ctr">Our main goal is to build beautiful consumer experiences along with developer-friendly infrastructure. The result is an intelligent tool that gives everyone the ability to create amazing products that solve big problems. We are deeply focused on democratizing financial services through technology.</div>
   </div>
 <div class="row g-0  ctr py-1 my-5">
     <div class="col-4 col-md-4 col-sm-4 para opacity-50 ctr">Our Business</div>
      <div class="col-sm-6 col-md-8 fs-5 ctr">At the core of our platform is the technical infrastructure APIs that connect consumers. Our innovative product provides key insights for businesses and individuals, as well as robust reporting for traditional financial institutions and developer.</div>
   </div>

</div>



<div class=" container-fluid fulsc ctr">

</div>



<div class="container my-5 py-3 ctr">
    <div class="row border-top ctr border-bottom border-dark p-3">
      <div class="col-8 col-md-4 ctr">
          <p class="card-text fs-5 text-muted fw-bold">Team Members</p>
        <h5 class="card-title fw-bold redtxt para ctr">300+</h5>
      </div>
      <div class="col-8 col-md-4 ctr">
        <p class="card-text fs-5 text-muted fw-bold ctr">Offices in the US</p>
        <h5 class="card-title fw-bold redtxt para ctr">5</h5>
      </div>
      <div class="col-8 col-md-4 ctr">
        <p class="card-text fs-5 text-muted fw-bold">Team analyzed</p>
        <h5 class="card-title fw-bold redtxt para ctr">10M+</h5>
      </div>
    </div>
  </div>



  <div class="container my-3 py-3">
    <div class="row g-0 ctr py-1 my-1">
        <div class="col-4 col-md-4 para opacity-50 ctr">The Culture</div>
         <div class="col-sm-6 col-md-8 fs-5 ctr">We strongly believe there's always an opportunity to learn from each other outside of day-to-day work, whether it's company-wide offsites, internal hackathons, or co-worker meetups. We always value cross-team collaboration and diversity of thought, no matter the job title.</div>
      </div>
    <div class="row g-0  ctr py-1 my-5 ">
        <div class="col-4 col-md-4 para opacity-50 ctr">The People</div>
         <div class="col-sm-6 col-md-8 fs-5 ctr ">We're all passionate about building a more efficient and inclusive financial infrastructure together. At PayAPI, we have diverse backgrounds and skills.</div>
      </div>
</div>