
<% layout('layouts/boilerplate')%>

    <h1 class="text-center para fw-bolder">Pricing</h1>

    <div class="container my-5 ">
     <div class="row ctr ">

    <div class="card m-3 opacity-75 " style="width: 22rem;">
        
        <div class="card-body  ">
          <h5 class="card-title fw-bolder redtxt">Free Plan</h5>
          <p class="card-text fs-5 ctr ">Build and test using our core set of products with up to 100 API requests.</p>
         <p class="para ctr ">$0.00</p>
          <ul class="list-group list-group-flush">
     <li class="list-group-item "><i class="fa-solid fa-check"></i>  Transactions</li>
     <li class="list-group-item "><i class="fa-solid fa-check"></i>  Auth</li>
     <li class="list-group-item "><i class="fa-solid fa-check"></i>  Identity</li>
     <li class="list-group-item "><i class="fa-solid fa-check"></i>  Investments</li>
     <li class="list-group-item  text-muted"> &nbsp; &nbsp; &nbsp; Assets</li>
     <li class="list-group-item  text-muted"> &nbsp; &nbsp; &nbsp; Liabilities</li>
     <li class="list-group-item  text-muted"> &nbsp; &nbsp; &nbsp; Income</li>
          </ul>
          <a href="/campgrounds/contact" class="btn btn-lg btn-primary">Request Access</a>
        </div>
      </div>

        
    <div class="card m-3 opacity-75" style="width: 22rem;">
        
        <div class="card-body  ">
          <h5 class="card-title fw-bolder redtxt">Basic Plan</h5>
          <p class="card-text fs-5 ctr">Launch your project with unlimited requests and no contractual minimums</p>
         <p class="para ctr">$249.00</p>
          <ul class="list-group list-group-flush">
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Transactions</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Auth</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Identity</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Investments</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Assets</li>
     <li class="list-group-item text-muted"> &nbsp; &nbsp; &nbsp; Liabilities</li>
     <li class="list-group-item text-muted"> &nbsp; &nbsp; &nbsp; Income</li>
          </ul>
          <a href="#" class="btn btn-lg btn-primary">Request Access</a>
        </div>
      </div>

        
    <div class="card m-3 opacity-75" style="width: 22rem;">
        
        <div class="card-body  ">
          <h5 class="card-title fw-bolder redtxt">Premium Plan</h5>
          <p class="card-text fs-5 ctr">Get tailored solutions, volume pricing, and dedicated support for your team</p>
         <p class="para ctr">$499.00</p>
          <ul class="list-group list-group-flush">
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Transactions</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Auth</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Identity</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Investments</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Assets</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Liabilities</li>
     <li class="list-group-item"><i class="fa-solid fa-check"></i>  Income</li>
          </ul>
          <a href="#" class="btn btn-lg btn-primary ">Request Access</a>
        </div>
      </div>

        
    </div>
    </div>
    
  